html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #1e1e1e;
  color: white;
}

html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
}
body{
  height:100%; /* force the BODY element to match the height of the HTML element */
}

a {
  color: lightseagreen;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
